body {
    background-image: url("images/login_background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.center-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-size {
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.custom-padding-size1 {
    padding-bottom: 120px;
}

.custom-padding-size2 {
    padding-top: 150px;
}

.input-size {
    width: 350px;
}

.button-size {
    width: 105px;
}