#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-image: url("assets/images/buksu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(50px);
  min-height: 100vh;
  min-width: 100vh;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity for desired darkness */
  backdrop-filter: blur(5px); /* Adjust blur intensity */
  z-index: -1; /* Position it behind the content of #root */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.left-side {
  background-image: url("assets/images/dorm-pic.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  position: relative;
  overflow: hidden; /* Ensures the pseudo-element stays within the border radius */
}

.left-side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("assets/images/dorm-pic.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(9px); /* Adjust blur intensity */
  opacity: 0.6; /* Adjust opacity for darkening effect */
  z-index: -1; /* Ensure it’s behind any content in .left-side */
  border-top-left-radius: 24px;
}

